/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

* {
  amrgin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 20px;
}

.json {
  %appendix {
    &:before, &:after {
      color: #AAA;
    }
  }

  .element {
    @extend %appendix;
    margin-left: 20px;
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
  .js-key {
    @extend %appendix;
    display: inline;
    color: darkblue;
    &:before {
      content: "\"";
    }
    &:after {
      content: "\":";
    }
  }
  .js-value {
    &.js-string {
      @extend %appendix;
      display: inline;
      color: green;
      &:before, &:after {
        content: "\"";
      }
    }

    &.js-number, &.js-boolean {
      display: inline;
      color: green;
    }

    &.js-object {
      @extend %appendix;
      display: inline;
      &:before {
        content: "{";
      }
      &:after {
        content: "}";
      }
    }

    &.js-array {
      @extend %appendix;
      display: inline;
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
    }
  }

}