/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/json.scss */
.json {
  font-size: 13px;
  line-height: 110%;
  color: #555;
  margin-left: -20px;
}
/* line 7, ../sass/json.scss */
.json * {
  margin: 0;
  padding: 0;
}
/* line 16, ../sass/json.scss */
.json .content {
  display: inline;
}
/* line 19, ../sass/json.scss */
.json dl {
  display: block;
  margin-left: 20px;
}
/* line 23, ../sass/json.scss */
.json dl > dt {
  display: inline;
}
/* line 25, ../sass/json.scss */
.json dl > dt > .content {
  color: darkblue;
}
/* line 29, ../sass/json.scss */
.json dl > dd {
  display: inline;
}
/* line 33, ../sass/json.scss */
.json dl:last-child > dd > .separator {
  display: none;
}
/* line 40, ../sass/json.scss */
.json dl.js-string dd .content {
  color: green;
}
/* line 47, ../sass/json.scss */
.json dl.js-array > dt, .json dl.js-object > dt {
  cursor: pointer;
}
/* line 52, ../sass/json.scss */
.json dl.js-array > dd > .content.hidden, .json dl.js-object > dd > .content.hidden {
  color: #CCC;
  width: 1em;
  height: 1em;
}
/* line 56, ../sass/json.scss */
.json dl.js-array > dd > .content.hidden:before, .json dl.js-object > dd > .content.hidden:before {
  vertical-align: top;
  content: "......";
}
/* line 66, ../sass/json.scss */
.json dl.js-boolean dd .content, .json dl.js-number dd .content, .json dl.js-null dd .content {
  color: darkmagenta;
  font-weight: bold;
}
/* line 73, ../sass/json.scss */
.json .hidden {
  display: inline-block !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
