/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 12, ../sass/screen.scss */
body {
  margin: 20px;
}

/* line 16, ../sass/screen.scss */
.json2 {
  color: #555;
}
/* line 18, ../sass/screen.scss */
.json2 .content {
  display: inline;
}
/* line 21, ../sass/screen.scss */
.json2 dl {
  display: block;
  margin-left: 20px;
}
/* line 25, ../sass/screen.scss */
.json2 dl > dt {
  display: inline;
}
/* line 27, ../sass/screen.scss */
.json2 dl > dt > .content {
  color: darkblue;
}
/* line 31, ../sass/screen.scss */
.json2 dl > dd {
  display: inline;
}
/* line 35, ../sass/screen.scss */
.json2 dl:last-child > dd > .separator {
  display: none;
}
/* line 42, ../sass/screen.scss */
.json2 dl.js-string dd .content {
  color: green;
}
/* line 50, ../sass/screen.scss */
.json2 dl.js-boolean dd .content, .json2 dl.js-number dd .content, .json2 dl.js-null dd .content {
  color: darkmagenta;
  font-weight: bold;
}

/* line 61, ../sass/screen.scss */
.json .element:before, .json .js-key:before, .json .js-value.js-string:before, .json .js-value.js-object:before, .json .js-value.js-array:before, .json .element:after, .json .js-key:after, .json .js-value.js-string:after, .json .js-value.js-object:after, .json .js-value.js-array:after {
  color: #AAA;
}
/* line 66, ../sass/screen.scss */
.json .element {
  display: block;
  margin-left: 20px;
}
/* line 70, ../sass/screen.scss */
.json .element:after {
  content: ",";
}
/* line 73, ../sass/screen.scss */
.json .element:last-child:after {
  content: "";
}
/* line 77, ../sass/screen.scss */
.json .js-key {
  display: inline;
  color: darkblue;
}
/* line 81, ../sass/screen.scss */
.json .js-key:before {
  content: "\"";
}
/* line 84, ../sass/screen.scss */
.json .js-key:after {
  content: "\":";
}
/* line 89, ../sass/screen.scss */
.json .js-value.js-string {
  display: inline;
  color: green;
}
/* line 93, ../sass/screen.scss */
.json .js-value.js-string:before, .json .js-value.js-string:after {
  content: "\"";
}
/* line 98, ../sass/screen.scss */
.json .js-value.js-number, .json .js-value.js-boolean, .json .js-value.js-null {
  display: inline;
  color: darkmagenta;
}
/* line 103, ../sass/screen.scss */
.json .js-value.js-object {
  display: inline;
}
/* line 106, ../sass/screen.scss */
.json .js-value.js-object:before {
  content: "{";
}
/* line 109, ../sass/screen.scss */
.json .js-value.js-object:after {
  content: "}";
}
/* line 114, ../sass/screen.scss */
.json .js-value.js-array {
  display: inline;
}
/* line 117, ../sass/screen.scss */
.json .js-value.js-array:before {
  content: "[";
}
/* line 120, ../sass/screen.scss */
.json .js-value.js-array:after {
  content: "]";
}
/* line 125, ../sass/screen.scss */
.json .hidden {
  display: inline-block !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
